<!DOCTYPE html>
<html lang="es">
	<head>
		<title>The Pintxopo</title>

		<meta charset="utf-8"/>

		<!--Estilos principales-->
		<link rel="stylesheet" type="text/css" href="css/main.css" >	
		<link href='https://fonts.googleapis.com/css?family=Lora|PT+Sans+Narrow|Old+Standard+TT:400italic,400|Tangerine|Open+Sans+Condensed:300|Courgette' rel='stylesheet' type='text/css'>

		<!--Estilos bootstrap-->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->

		<!--Enlace de JQuery & JS para la API de Google-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" type="text/javascript"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBTcGmuWEwzwZXpcYRMguIQoWAc7yrw6Kc&sensor=false"></script>
		
		<!--JavaScripts utilizados-->
		<script src="js/pintxos.js" type="text/javascript"></script>
		<script src="js/scrollAnimado.js" type="text/javascript"></script>
		<script src="js/cambioMenu.js" type="text/javascript"></script>
		<script src="js/homeButtonScroll.js" type="text/javascript"></script>
		<script src="js/animacionRedes.js" type="text/javascript"></script>
		<script src="js/googleMap.js" type="text/javascript"></script>
		<script src="js/calcRutas.js" type="text/javascript"></script>
		<!--<script src="js/validarFormulario.js" type="text/javascript"></script>-->
		<script src="js/cargarLogin.js" type="text/javascript"></script>
		<!--<script src="js/calendar.js" type="text/javascript"></script>-->
		<script src="js/galeria.js" type="text/javascript"></script>
		<script src="js/bares.js" type="text/javascript"></script>
		
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

	</head>

	<body>
		<header class="mainHeader">
		  <div class="<%= clase %>" id="btnUsuario">	
	      <div class="dropdown">
	        <!--<img id="icono-user" href="/profile" src="img/open-iconic/svg/person.svg" alt="perfil">-->
	        <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown"><%= nombre %>
	        <span class="caret"></span></button>
	        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
	          <li role="presentation"><a role="menuitem" tabindex="-1" href="/profile">Ver perfil</a></li>
	          <li role="presentation" class="divider"></li>
	          <li role="presentation"><a role="menuitem" tabindex="-1" href="/logout">Cerrar sesión</a></li>
	        </ul>
	      </div>
	      </div>

		<!--<img id="icono-user" href="/profile" src="img/open-iconic/svg/person.svg" alt="perfil">-->
		<!--<div id="usuario"><p><a href="/profile"><%= nombre %></a></p></div>-->
			
			<nav class="menu">
				<ul class="navegador">
					<li id="homeButton" class="active"><a class="homeButton" href="">HOME</a></li>
					<li><a class="ancla" href="#ruta">RUTAS</a></li>
					<li><a class="ancla" href="#pintxos">PINTXOS</a></li>
				</ul>				
			</nav>

			<nav class="menu2">
				<ul class="navegador">
					<li><a href="/about">ABOUT</a></li>
					<li><a class="ancla" href="#calendario">CALENDARIO</a></li>
					<li><a class="ancla" href="#bares">BARES</a></li>
				</ul>				
			</nav>

			<div class="logo">
				<a class="homeButton" href=""><img src="img/logo_trazado_recortado.png" /></a>
			</div>

		</header>

		<div class="mainSection">
			<div class="bienvenida">
				<h2>La cultura del ocio gastronómico</h2>
				<!--<p>El sibaritismo gastronómico, unido a la inteligencia contribuye a hacer a los hombres amables.</p>-->
				<p>"El mejor banquete del mundo no merece ser degustado a menos que se tenga alguien para compartirlo."</p>
				<p id="cita">-Groucho Marx</p>
			</div>
			
			<div class="container-login">
				<div class="content">
					<p>Inicia sesión o regístrate:</p>
					<div class="boton-log"><a href="/login" id="loginBtn" class="boton_form"><span class="fa fa-user"></span>Inicia sesión</a></div>
					<div class="boton-log"><a href="/signup" class="boton_form"><span class="fa fa-user"></span>Regístrate<a></div>
				</div>
			</div>
			
			<div class="<%= clase2 %>" id="btnUnete">
				<a href="/login"><img  class="imgBoton" src="img/btn-unete.png"></img></a>
				<!--<a href="#contact" data-toggle="modal"><img class="imgBoton" src="img/btn-unete.png"></img></a>-->
			</div>

			<div>
				<nav class="<%= navRedes %>">
					<ul>						
						<li><a href="https://www.facebook.com/profile.php?id=100004284648257" target="_blank"><img src="img/facebook.png" ></a></li>
						<li><a href="https://twitter.com/ThePintxopo" target="_blank"><img src="img/twitter.png" ></a></li>
						<li><a href="https://plus.google.com/u/0/111903066256897710616/posts" target="_blank"><img src="img/google_plus.png"></a></li>
						<li><a href="http://www.pinterest.com/pdonostia/" target="_blank"><img src="img/pinterest.png" ></a></li>
					</ul>				
				</nav>
			</div>
			
			<div id="rutas">
			
				<div id="ruta">
					<div>
						<h1>Rutas</h1>
						<h2>Ofrecemos las mejores rutas por cada barrio</h2>
						<div id="googleMap">
						</div>
					</div>
				</div>
				
				<nav class="navRutas">
					<ul>						
						<li><a href="#ruta" class="ancla" id="btn1">RUTA 1</a></li>
						<li><a href="#ruta" class="ancla" id="btn2">RUTA 2</a></li>
						<li><a href="#ruta" class="ancla" id="btn3">RUTA 3</a></li>
					</ul>				
				</nav>
			
			</div>
			
			<div class="secciones">
				
				<div id="pintxos">
					
				</div>
				
				<div id="bares">
					<!--
					<div class="principal">
						<div class="visor">
							<img src='img/foto1.png' alt='' name='fotoVisor'/>
							<div id="navBares">
								<a href=""><img src="img/open-iconic/svg/plus.svg" id="infoIcon"/></a>
								<a href=""><img src="img/open-iconic/svg/map-marker.svg" id="mapaIcon"/></a>
							</div>
						</div>
					</div>
					
					<div class="barTitle">
						
						<h1>Bares... ¡Qué lugares!</h1>
						<h2>Encuentra los mejores sitios</h2>
				
					</div>
					
					<div class="imgBares">
						<img src='img/foto1.png' alt='' name='fotos1' onclick="mifoto(1)"/>
						<img src='img/foto2.png' alt='' name='fotos2' onclick="mifoto(2)"/>
						<img src='img/foto3.png' alt='' name='fotos3' onclick="mifoto(3)"/>
						<img src='img/foto4.png' alt='' name='fotos4' onclick="mifoto(4)"/>
						<img src='img/foto3.png' alt='' name='fotos3' onclick="mifoto(3)"/>
						<img src='img/foto4.png' alt='' name='fotos4' onclick="mifoto(4)"/>
					</div>
				-->
				</div>
				
				<div id="calendario">
					<div>
						<h1>Calendario</h1>
						<h2>Organiza tu pintxopote</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
					</div>
				</div>

			</div>

		</div>
		
		<div>
				
			<nav class="navRedesLateral">
				<ul>				
					<li><a href="#"><img src="img/facebook.png" ></a></li>
					<li><a href="#"><img src="img/google_plus.png"></a></li>
					<li><a href="#"><img src="img/twitter.png" ></a></li>
					<li><a href="#"><img src="img/pinterest.png" ></a></li>
				</ul>				
			</nav>
			
		</div>
		
		<!-------------------
		--- VENTANA MODAL ---
		---------------------
		
		<div class="modal fade" id="contact" role="dialog">
			
			<div class="modal-dialog">
				
				<div class="modal-content">
					
					<div class="modal-header">
						
						<h4>Contact Tech Site</h4>
						
					</div>
					
					<div class="modal-body">
						
						
						
					</div>
					
				</div>
				
			</div>
			
		</div>
		
		-->

	</body>

</html>