<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
<title>The Pintxopo</title>
	
	<meta charset="utf-8"/>
	
	<!--Este meta se requiere para poder escalar nuestra página a diferentes tipos de resolución--> 
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="css/bootstrap.css"/>

	<!-- BootstrapValidator CSS -->
	<link rel="stylesheet" href="css/bootstrapValidator.min.css"/>
		
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="css/profile.css" ><!--Estilos principales-->
      
	<!-- Fuentes externas -->
 <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" type="text/javascript"></script>

	<!--Estilos bootstrap-->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->

	<!-- BootstrapValidator JS -->
	<script type="text/javascript" src="js/bootstrapValidator.min.js"></script>
	<script type="text/javascript" src="js/validadorEditarUser.js"></script>
	
	<script type="text/javascript" src="js/cambiarAvatar.js"></script>
	<!--<script type="text/javascript" src="js/insertarImg.js"></script>-->
	<!--<script src="js/editarUsuario.js" type="text/javascript"></script>-->

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	
	<script type="text/javascript" src="js/mostrarPintxos.js"></script>

</head>
<body>
	<div class="container">
		
		<div class="logo">
			<a class="homeButton" href="/"><img src="img/logo_trazado_recortado.png" /></a>
		</div>		<!--cierre LOGO-->

		<div class="header">
			<hr><br>
			<!--INICIO del contenedor flexible-->
			<div class="flex-container">
				<div class="flex-item" id="datos">
				
					<div id="nom-usuario"><h1><%= user.local.nomUsuario%></h1></div>
	
					<div id="avatar">
					
						<form action="/actualiza-usuarios" id="cambiarFoto" method="post">
							
							<p id="avatarString"><%= user.local.avatar %></p>
							<img id="avatarImg"></img>
							<input type="file" id="imageLoader" name="imageLoader"/><br/>
						
						</form>
						
						<button id="falseinput"><img id="btnEditarAvatar" src="img/open-iconic/svg/pencil.svg"></img></button>
						
						<script>
							$(document).ready( function() {
								$('#falseinput').click(function(){
										$("#imageLoader").click();});
								});
						</script>
						
					</div>
	
					<div id="datos-usuario">
						<p id="email">Email: <%= user.local.email %></p>
						
						<p>Sexo: <%= user.local.sexo %></p>
						
						<p>Fecha de nacimiento: <%= user.local.fechaNac %></p>
					</div>
				</div>
		
				<div class="flex-item">
					<div class="valoracion"><h1><%= user.local.pintxosVotados.length %></h1><a href="#pintxos" data-toggle="modal"><p>Pintxos<br>valorados</p></a></div>
				</div>
		
		
		
				<div class="flex-item">
					<div class="valoracion"><h1>X</h1><p>Bares<br>valorados</p></div>	
				</div>
		
				<div class="flex-item">
					<div class="valoracion"><h1>X</h1><p>Rutas<br>creadas</p></div>	
				</div>
		
			</div>
			
			</div><!--Cierre del HEADER-->
				<hr>
	
<!-- BOTONES EDITAR Y DESCONECTAR ////////////////////-->
		
		<div id="editar">
			<a class="btnEditar" href="#edit" data-toggle="modal">
				<img src="img/open-iconic/svg/pencil.svg" alt="Edita tu perfil">
			</a>
			<!--<img src="../img/edit.png"><br>Edita tu perfil</a>-->
			<a class="btnEditar" href="/logout">
				<img src="img/open-iconic/svg/account-logout.svg">
			</a>
			<a class="btnEditar" href="/">
				<img src="img/open-iconic/svg/home.svg">
			</a>
		</div>
		<!-- FIN DE BOTONES EDITAR Y DESCONECTAR ////////////////////-->

					<% include edit-modal %>
					<% include pintxos-modal %>

</body>
</html>